<h1>{{title}}</h1>

<div id="div-row">
	{{#each snippets}}
		<div id="codex">
			<h2>{{this.language}}</h2>
			<code id="card-result">{{this.code}}</code>
		</div>
	{{/each}}
</div>

<div id="image">
	<img src="{{image}}" />
</div>

<a href="/editcodefile/{{_id}}"><strong>Edit File</strong></a>
<form action="/codefile/{{_id}}/delete" method="POST">
	<button>Delete</button>
</form>
<a href="/workspace">Workspace</a>