<nav id="header">
	<div class="avatar">
		<div
			id="nav-plus"
			class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
		>
			<a href="/codeFile"><img
					src="https://freepikpsd.com/file/2019/10/white-plus-sign-png-3-Transparent-Images.png"
				/></a>
		</div>
	</div>
	<button class="btn"><a href="/workspace">WorkSpace</a></button>
</nav>

<section id="section-card">
	<div id="div-card" class="card w-96 bg-base-100 shadow-xl">
		<figure class="px-10 pt-10">
			<img src="{{image}}" class="rounded-xl" />
		</figure>
		<div class="card-body items-center text-center">
			<div id="div-card" class="card w-96 bg-base-100 shadow-xl">
				<h2 class="card-title">{{title}}</h2>
			</div>
			{{#each snippets}}
				<div id="div-card" class="card w-96 bg-base-100 shadow-xl">
					<h3 class="card-title">{{language}}</h3>
					<div id="code-box">
						<code>{{code}}</code>
					</div>
				</div>
			{{/each}}
			<div class="card-actions">
				<a href="/editcodefile/{{_id}}"><button
						class="btn btn-primary"
					>EditFile</button></a>
				<form action="/codefile/{{_id}}/delete" method="POST">
					<a href=""><button class="btn btn-primary">Delete</button></a>
				</form>
			</div>
		</div>
		{{#if errorMessage}}
			<p class="error">{{errorMessage}}</p>
		{{/if}}
	</div>
</section>