<nav>
	<div id="nav-center">
		<button class="btn"><a href="/workspace">WorkSpace</a></button>
	</div>
</nav>

<h1 class="card-title">
	{{title}}
</h1>

<section id="section-card">
	<div class="card w-96 bg-base-100 shadow-xl">
		<div class="card-body items-center text-center">
			<div class="carousel carousel-center">
				<div class="carousel-item">
					<form id="form-login" action="/editcompile/{{_id}}" method="POST">

						{{#each snippets}}
							<div id="input-l">
								<input
									id="input-l"
									name="language"
									value="{{this.language}}"
									readonly
								/>
							</div>
							<div>
								<textarea
									id="card-code"
									name="code"
									cols="40"
									rows="12"
								>{{this.code}}</textarea>
							</div>
						{{/each}}
						<div class="card-actions">
							<button class="btn btn-primary" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{{#if errorMessage}}
			<p class="error">{{errorMessage}}</p>
		{{/if}}
	</div>
</section>