<nav id="header">
	<button class="btn"><a href="/workspace">WorkSpace</a></button>
	<button class="btn"><a href="/editprofile/{{_id}}">Edit Profile</a></button>
	<button class="btn"><a href="/auth/logout">Logout</a></button>
</nav>

<section id="section-profile">
	<div class="avatar">
		<div class="mask mask-squircle">
			<img src="{{image}}" />
		</div>
	</div>
	<div id="profile-header">
		<h3 class="card-title">{{username}}</h3>
		<p class="text-lg">Email:</p>
		<p><i>{{email}}</i></p>
		<p class="text-lg">Profession: </p>
		<p><i> {{profession}}</i></p>
		<p class="text-lg">Interests: </p>
		<p><i> {{interests}}</i></p>
	</div>
</section>